<p id="notice"><%= notice %></p>
<% if current_user.present? %>
<%= render 'form', tweet: @tweet %>
<% end %>
<br>
<h1 class="text-center">Timeline</h1>

<% @tweets.each do |tweet| %>
<div class="card container">
 <%= image_tag (tweet.user.image_url), size: '100' if tweet.user.image_url.present? %>
 <em><%= tweet.user.name %></em><%= time_ago_in_words(tweet.created_at, include_seconds: true) %>
  <div class="card-body">
    <em class="card-title"><%= tweet.content %></em><br>
  </div>
</div>
<br>
<% end %>
<%= paginate @tweets %>
<br>
